html, body {
    margin: 0;
    padding: 0;
  }


.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(./libs/icons/loading.gif) 50% 50% no-repeat rgb(249,249,249);
}

#map {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    }
    

#selectContainer {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: 10px 0;
      }

#selectCountry {
    width: 200px;
    margin: 0 auto;
  
}

#exampleModalLabel {
    font-weight: bold;
}

.modal-header {
    background-color: rgb(116, 187, 241);
}

.weather {
    background-image: url(./libs/icons/white-cloud-blue-sky.jpg);
    
}

td {
    text-align: right;
}

#flag {
    width: 300px;
    border: 2px solid black;
}

#listId {
    list-style-type: none;
}


#weatherIcon {
    width: 150px;
   
}
#thirdCol {
    padding-top: 20px;
}


.table {
    font-size: 20px;
}

#name {
    font-weight: bold;
}


h1 {
    font-weight: bold;
}

