#map {
    width: 100%;
    height: 90vh;
    }
    

.navbar-brand {
    font-size: 30px;
    color: purple;
    height: 50px;
      }

.form-control {
    margin-top: 50px;
}


#exampleModalLabel {
    background-color: antiquewhite;
}

#flag {
    width: 300px;
    border: 2px solid black;
}

#listId {
    list-style-type: none;
}


#weatherIcon {
    width: 150px;
    margin-left: 150px;
}
