.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: url(./icons/loading.gif) 50% 50% no-repeat rgb(255, 255, 255);
}

nav {
  position: fixed;
  top: 0;
  z-index: 9999;
}

#tableBody:hover {
  cursor: pointer;
}



thead {
    font-weight: bold;
    font-size: large;
    position: sticky;
    top: 56px;
    z-index: 99;
   
}


#confirm {
    background-color: #e2f746
    
}


#returnTopButton {
  border-radius: 50%;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#returnTopButton:hover {
  cursor: pointer;
}

#returnTopButton.show {
  opacity: 1;
  visibility: visible;
}


@media screen and (max-width: 770px) {
  
 
  #mainTable td:nth-child(n+3) {
    display: none;  
  }


}  